/* TO remove */
.row {
  display: flex;
}

.quadrant {
  border: 2px solid black;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  caret-color: transparent;
}

.grid-container {
  margin-top: 20px;
  display: inline-flex;
  border: 4px solid black;
  width: 372px;
  height: 372px;
  flex-wrap: wrap;
}

.hint {
  position: absolute;
  border: 2px dashed red;
  width: 32px;
  height: 32px;
  pointer-events: none;
  /* Use translate to center hint boxes */
  transform: translate(2px, 2px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cell:focus {
  background-color: lightblue;
  color: white;
  outline: none;
}
